**/node_modules
node_modules

web/.next
**/dist

.github
**/Dockerfile
.dockerignore

web/cypress/downloads

**/.env

backend/public/uploads
backend/uploads
backend/test_uploads

**/coverage
**/coverage-e2e
**/.nyc_output

**/.turbo
